{% extends 'base.html' %}

{% block title %}Account Totals{% endblock %}

{% block header %}
<script src="https://www.amcharts.com/lib/version/4.9.27/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.27/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.27/themes/animated.js"></script>

<script type='text/javascript' src='static/js/account_totals.js'></script>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Account Totals</h5>
    Data last updated on: <b>{{ latest_transaction.strftime("%b %d, %Y") }}</b>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Owner</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Current Total</th>
        </tr>
      </thead>
      {% for account in accounts %}
      <tbody>
        <tr>
            <td>{{ account["owner"] | capitalize }}</td>
            <td>{{ account["type"] | capitalize }}</td>
            <td>{{ account["description"] | capitalize }}</td>
            <td>{{ "${:,.2f}".format(account["current_total"]) }}</td>
        </tr>
      {% endfor %}
        <hr/>
        <tr class="table-success">
            <td colspan="3">Total Across All Accounts</td>
            <td>{{ "${:,.2f}".format(current_overall_total) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Total Over Time</h4>
      <li class="list-group-item">
        This is the list of accounts and how much money they have over time.
      </li>
      <li class="list-group-item">
        <div id="myChart" style="width:100%; height:500px"></div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
