<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Javascript Import -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type=text/javascript src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <title>Budgeting Bob - {% block title %}{% endblock %}</title>

    {% block header %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand text-light" href="{{ url_for('home.home') }}">Budgeting Bob</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{ url_for('home.home') }}">Home</a>
          <a class="nav-item nav-link" href="#">Account Totals</a>
          <a class="nav-item nav-link" href="{{ url_for('transactions.transactions') }}">Transactions</a>
          <a class="nav-item nav-link" href="{{ url_for('budgets.budgets') }}">Budgets</a>
        </div>
      </div>
    </nav>
    <div style="padding-top: 50px;"></div>
    <div class="container">
      <section class="content">
        {% block content %}{% endblock %}
      </section>
    </div>

  </body>
</html>
