{% extends 'base.html' %}

{% block title %}Budgets{% endblock %}

{% block header %}
<script type='text/javascript' src='static/js/budgets.js'></script>
{% endblock %}

{% block content %}

<div class="card" style="margin-top: 20pt">
  <div class="card-body">
    <h3 class="card-title">Showing Budget Report for:
      <select class="custom-select" id="month-selector">
        {% for month in months %}
        <option value="{{ month.strftime("%Y-%m-%d") }}"
            {%- if month.strftime("%Y-%m-%d") == selected_month.strftime("%Y-%m-%d") %} selected {% endif -%}
        > {{ month.strftime("%B %Y") }} </option>
        {% endfor %}
      </select>
    </h3>
  </div>

  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Monthly Budget</th>
        <th scope="col">Remaining Amount</th>
        <th scope="col">Overall Overage</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>

      {% for row in rows %}
      <tr class="{{ row["status_class"] }}">
        <td>{{ row["category"].replace("_", " ")|capitalize }}</td>
        <td>{{ row["budget"] }}</td>
        <td>{{ row["remaining"] }}</td>
        <td>{{ row["overage"] }}</td>
        <td>{{ row["status"] }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
