{% extends 'base.html' %}

{% block title %}Budgets{% endblock %}

{% block header %}
<script type='text/javascript' src='static/js/budgets.js'></script>
{% endblock %}

{% block content %}

<div class="card" style="margin-top: 20pt">
  <div class="card-body">
    <h3 class="card-title">Showing Budget Report for:
      <select class="custom-select" id="month-selector">
        {% for month in months %}
        <option value="{{ month.strftime("%Y-%m-%d") }}"
            {%- if month.strftime("%Y-%m-%d") == selected_month.strftime("%Y-%m-%d") %} selected {% endif -%}
        > {{ month.strftime("%B %Y") }} </option>
        {% endfor %}
      </select>
    </h3>
  </div>

  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th style="width: 16.25%" scope="col">Category</th>
        <th style="width: 30%" scope="col">Monthly Budget</th>
        <th style="width: 16.25%" scope="col">Remaining Amount</th>
        <th style="width: 16.25%; display: none" scope="col" class="overage all">
          Overage All
          <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-calendar-week"></i>
          </button>
        </th>
        <th style="width: 16.25%; display: none" scope="col" class="overage 6m">
          Overage 6m
          <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-calendar-week"></i>
          </button>
        </th>
        <th style="width: 16.25%" scope="col" class="overage 12m shown">
          Overage 1y
          <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-calendar-week"></i>
          </button>
        </th>
        <th style="width: 16.25%; display: none" scope="col" class="overage 24m">
          Overage 2y
          <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-calendar-week"></i>
          </button>
        </th>
        <th style="width: 21.25%" scope="col">Status</th>
      </tr>
    </thead>
    <tbody>

      <tr class="table-info totals">
        <td>Total</td>
        <td>{{ total["budget"] }}</td>
        <td>{{ total["remaining"] }}</td>
        <td class="overage all" style="display: none">{{ total["overage"] }}</td>
        <td class="overage 6m" style="display: none">{{ total["overage_6m"] }}</td>
        <td class="overage 12m">{{ total["overage_12m"] }}</td>
        <td class="overage 24m" style="display: none">{{ total["overage_24m"] }}</td>
        <td></td>
      </tr>
      {% for row in rows %}
      <tr class="{{ row["status_class"] }}">
        <td class="align-middle category-name">{{ row["category"].replace("_", " ")|capitalize }}</td>
        <td class="align-middle"> 
          <div class="container">
            <div class="row align-items-center h-100">
              <button type="button" class="btn btn-outline-secondary btn-sm budget">
                <i class="fa fa-pencil" aria-hidden="true"></i> 
              </button>
              <div class="budget-text col-sm">
                {{ row["budget"] }}
              </div>
            </div>
          </div>
        </td>
        <td class="align-middle">{{ row["remaining"] }}</td>
        <td class="align-middle overage all" style="display: none">{{ row["overage"] }}</td>
        <td class="align-middle overage 6m" style="display: none">{{ row["overage_6m"] }}</td>
        <td class="align-middle overage 12m">{{ row["overage_12m"] }}</td>
        <td class="align-middle overage 24m" style="display: none">{{ row["overage_24m"] }}</td>
        <td class="align-middle">{{ row["status"] }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
