{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Instructions</h5>
    <p class="card-text">This application is meant to be the main interface with our budgetting system.</p>
    <p class="card-text">There are 3 main components to this:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <dl class="row">
          <dt class="col-sm-3">
              <a href="#" class="btn btn-primary">Budgets</a>
          </dt>
          <dd class="col-sm-9">
            This lists how much money has currently been spent for each budgeting category (grocery, clothing, games, etc...). It should be used as a reference to whether we are currently overbudget on certain spendings.
          </dd>
        </dl>
      </li>

      <li class="list-group-item">
        <dl class="row">
          <dt class="col-sm-3">
              <a href="#" class="btn btn-primary">Transactions</a>
          </dt>
          <dd class="col-sm-9">
            This lists all the known transactions that were copied from each bank API. From this screen manual budget categories can be applied to unknown transactions (or corrections can be applied).
          </dd>
        </dl>
      </li>

      <li class="list-group-item">
        <dl class="row">
          <dt class="col-sm-3">
              <a href="#" class="btn btn-primary">Account Totals</a>
          </dt>
          <dd class="col-sm-9">
            This page lists all our accounts (savings, credit, debts, etc.) and the current amount of money they contain based on the logged transactions.
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
