{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block header %}
<script type='text/javascript' src='static/js/transactions.js'></script>
{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Transactions</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        This is the list of transactions in the system. Categories can be manually overridden.
      </li>
    </ul>
  </div>
</div>

<div id="searchbar" class="input-group mb-3">
  <div class="input-group-prepend" id="search">
    <button class="btn btn-outline-secondary" type="button">Search</button>
  </div>
  <input type="text" class="form-control" placeholder="Enter Search word here" aria-label="Enter Search word here" aria-describedby="search" onkeypress="return searchBarKeyPress(event)">
  <div class="input-group-append" id="clear-search">
    <button class="btn btn-outline-danger" type="button">Clear</button>
  </div>
</div>

<table class="table mb-3" >
  <thead class="thead-light">
    <tr>
      <th scope="col">Account Alias</th>
      <th scope="col">Transaction Date</th>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="id-value" style="display:none;">{{ row["id"] }}</td>
      <td>{{ row["account_alias"]|capitalize }}</td>
      <td>{{ row["transaction_date"] }}</td>
      <td>{{ row["value"] }}</td>
      <td>{{ row["description"] }}</td>
      <td class="category">
        <select class="custom-select category-save" id="category">
          <option disabled selected value> None </option>
          {% for val in categories %}
          <option value="{{ val["category"] }}"
            {%- if val["category"] == row["category"] %} selected {% endif -%}
            > {{ val["category"]|capitalize }} </option>
          {% endfor %}
        </select>
      </td>
      <td>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary save" type="button">Save</button>
        </div>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
