{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Transactions</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        This is the list of transactions in the system. Categories can be manually overridden.
      </li>
    </ul>
  </div>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Account Type</th>
      <th scope="col">Account Number</th>
      <th scope="col">Transaction Date</th>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>

    {% for row in rows %}
    <tr>
      <td>{{ row["account_type"] }}</td>
      <td>{{ row["account_number"] }}</td>
      <td>{{ row["transaction_date"] }}</td>
      <td>{{ row["value"] }}</td>
      <td>{{ row["description"] }}</td>
      <td>{{ row["category"] }}</td>
      <td>
        <div class="input-group">
          <select class="custom-select" id="category">
            <option selected>{{ row["category"] }}</option>
            {% for val in categories %}
              <option value="{{ category }}"> {{ val["category"]|capitalize }} </option>
            {% endfor %}
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock %}
